version: "3.8"
services:
  gps:
    build: "./gps/"
    ports:
      - 8081:8081
    container_name: "gps-service"
    command:
      "--spring.profiles.active=docker"
  rewards:
    build: "./rewards/"
    ports:
      - 8082:8082
    depends_on:
      - gps
    container_name: "rewards-service"
    command:
      "--spring.profiles.active=docker"
  trip-pricer:
    build: "./trip-pricer/"
    ports:
      - 8083:8083
    container_name: "trip-pricer-service"
    command:
      "--spring.profiles.active=docker"
  tour-guide:
    build: "./tour-guide/"
    ports:
      - 8080:8080
    container_name: "tour-guide-app"
    command:
      "--spring.profiles.active=docker"